<% @users.each do |user| %>
  <li> <%=user.email%> </li>
  <%= form_with model: @friendship do |request| %>
    <% request.hidden_field :requestor_id, value: current_user.id  %>
    <% request.hidden_field :requestee_id, value: user.id %>
    <%= request.submit "Request" %>
  <% end %>
<% end %>
