<% if @friendship.errors.any? %>

  <h3>The following errors prevented the friendship from being saved:</h3>
  <ul>
    <% @friendship.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>

<% end %>
